<%- include("../partials/header") %>
<div class="container">
    <div class="row">
		<h3 style="text-align:center">Create a new campground</h1>
   </div>
   <div class="row">
       
       <form action="/campgrounds" method="POST">
      <input class="form-control" type="text" name="name" placeholder="name">
      <input class="form-control" type="text" name="description" placeholder="description">
      <input class="form-control" type="text" name="image" placeholder="image url">
      <button class="btn btn-lg btn-default btn-primary">Submit!
      </button>
    
      </form>
 <a href="/campgrounds">Back Button</a>
   </div>
     

 
    
</div>

<%- include("../partials/footer") %>