<%- include("../partials/header") %>
<div class="container">
    <div class="row">
		<h1 style="text-align: center">Add a new comment to <%= campground.name %></h1>
   
       
       <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
      <input class="form-control" type="text" name="comment[name]" placeholder="Text">
      <button class="btn btn-lg btn-default btn-primary">Submit!
      </button>
    
      </form>
 <a href="/campgrounds">Back Button</a>
   </div>
     <div>
		 

 </div>
 
        

</div>

<%- include("../partials/footer") %>